[packages]
gunicorn = "*"
flask = "*"
requests = "*"
numpy = "*"
pandas = "*"
geocoder = "*"
sklearn = "*"
scipy = "*"
matplotlib = "*"
dill = "*"
datetime = "*"




[requires]
python_version = "2.7"
