<!DOCTYPE html>
<html>
<title>Capstone</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body id="myPage">

<!-- Sidebar on click -->
<nav class="w3-sidebar w3-bar-block w3-white w3-card w3-animate-left w3-xxlarge" style="display:none;z-index:2" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-display-topright w3-text-teal">Close
    <i class="fa fa-remove"></i>
  </a>
  <a href="#" class="w3-bar-item w3-button">Link 1</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
  <a href="#" class="w3-bar-item w3-button">Link 4</a>
  <a href="#" class="w3-bar-item w3-button">Link 5</a>
</nav>

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Home</a>
  <a href="#team" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Author</a>
  <a href="#work" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Work</a>
  <a href="#googleMap" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Map</a>
  <a href="#contact" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contact</a>
  </div>
  </div>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search"><i class="fa fa-search"></i></a>
 </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
    <a href="#team" class="w3-bar-item w3-button">Author</a>
    <a href="#work" class="w3-bar-item w3-button">Work</a>
    <a href="#location" class="w3-bar-item w3-button">Location</a>
    <a href="#contact" class="w3-bar-item w3-button">Contact</a>
  </div>
</div>

<!-- Image Header -->
<div class="w3-display-container w3-animate-opacity">
  <img <img src="{{ url_for('static', filename="parco_sempion.jpg")}}" alt="Milan" style="width:100%;min-height:350px;max-height:600px;">
  <div class="w3-container w3-display-bottomleft w3-margin-bottom">  
    <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-xlarge w3-theme w3-hover-teal" title="Go To W3.CSS">BECOOL</button>
  </div>
</div>

<!-- Modal -->
<div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-top">
    <header class="w3-container w3-teal w3-display-container"> 
      <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-teal w3-display-topright"><i class="fa fa-remove"></i></span>
      <h4>PM10</h4>
      <h5>What is that?</h5>
    </header>
    <div class="w3-container">
      <p></p>
      <p>Go to <a class="w3-text-teal" href="https://en.wikipedia.org/wiki/Particulates">explanation</a> to learn more!</p>
    </div>
    <footer class="w3-container w3-teal">
      <p>Be eco-friendly! Be usefull to yourself.</p>
    </footer>
  </div>
</div>

<!-- Team Container -->
<div class="w3-container w3-padding-64 w3-center" id="team">
 <img src="{{ url_for('static', filename="title.jpg")}}"alt="Title" style="width:45%" class="w3-hover-opacity">
 <h2>Prediction of air pollution based on PM10's concentration.</h2>


<div class="w3-row"><br>

<div class="w3-quarter">
  <img src="{{ url_for('static', filename="zoom.jpg")}}"alt="Author" style="width:40%" class="w3-circle w3-hover-opacity">
  <h3>Alice Giampino</h3>
  <p>Statitician & Data Scientist</p>
</div>

<div class="w3-quarter">
  <img src="{{ url_for('static', filename="comuni milano.jpg")}}"alt="Provincia di Milano" style="width:60%" class="w3-circle w3-hover-opacity"> 
  <h3>Provincia di Milano</h3>
  <p>Study area.</p>
</div>

<div class="w3-quarter">
  <img src="{{ url_for('static', filename="milcentro.jpg")}}"alt="Milano" style="width:48%" class="w3-circle w3-hover-opacity">
  <h3>Milano</h3>
  <p>Study area.</p>
</div>

</div>
</div>

<!-- Work Row -->
<div class="w3-row-padding w3-padding-64 w3-theme-l1" id="work">

<div class="w3-container" style="padding:128px 16px" id="about">
	<h2 class="w3-center">Prediction of PM10</h2>
	<p class="w3-center w3-large">The goal is to inform about air pullotion in a particular day and gives some advice for improve our life-style and be eco-friendly. <br>
	PM10's concentration have impacts on climate and precipitation that adversely affect human health. <br>
	The size of the particle is a main determinant of where in the respiratory tract the particle will come to rest when inhaled. <br> 
	The smallest ones may be even more damaging to the cardiovascular system other than they can cause respiratory diseases. <br>
	So it's important be-ecofriendly and be informated not only for our health but for our earth's health too. </p>
	<div class="w3-row-padding w3-center" style="margin-top:64px">
		<div class="w3-quarter" style="margin:62px">
			<i class="fa fa-street-view w3-margin-bottom w3-jumbo w3-center"></i>
			<p class="w3-large"> Location </p>
			<p>Insert your current/future position.</p>
		</div>
		<div class="w3-quarter" style="margin:62px">
			<i class="fa fa-check-square-o w3-margin-bottom w3-jumbo"></i>
			<p class="w3-large">Prediction</p>
			<p>Wait air quality's prediction.</p>
		</div>
		<div class="w3-quarter" style="margin:62px">
			<i class="fa fa-tree w3-margin-bottom w3-jumbo"></i>
			<p class="w3-large">Info</p>
			<p>Learn information on the map below.</p>
		</div>
	</div>
</div>


<!-- Container -->
<div class="w3-container" style="position:relative">
  <a onclick="w3_open()" class="w3-button w3-xlarge w3-circle w3-teal"
  style="position:absolute;top:-28px;right:24px">+</a>
</div>

<!-- Contact Container -->
<div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
  <div class="w3-row">
    <div class="w3-col m5">
    <div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">Contact</span></div>
      <h3>Address</h3>
      <p>Swing by for a cup of coffee, or whatever.</p>
      <p><i class="fa fa-map-marker w3-text-teal w3-xlarge"></i>  Milan, IT</p>
      <p><i class="fa fa-phone w3-text-teal w3-xlarge"></i>  +348 3381682</p>
      <p><i class="fa fa-envelope-o w3-text-teal w3-xlarge"></i>  giampinoalice@gmail.com</p>
    </div>
    <div class="w3-col m7">
      <form class="w3-container w3-card-4 w3-padding-16 w3-white" action="/action_page.php" target="_blank">
      <div class="w3-section">      
        <label>Name</label>
        <input class="w3-input" type="text" name="Name" required>
      </div>
      <div class="w3-section">      
        <label>Email</label>
        <input class="w3-input" type="text" name="Email" required>
      </div>
      <div class="w3-section">      
        <label>Message</label>
        <input class="w3-input" type="text" name="Message" required>
      </div>  
      <input class="w3-check" type="checkbox" checked name="Like">
      <label>I Like it!</label>
	  <button type="submit" class="w3-button w3-right w3-theme">
		<a href="mailto:youremailaddress">Send</a>
	  </button>
      </form>
    </div>
  </div>
</div>

<body>

<h2 class='w3-center'>Date</h2>

<p id="demo" class='w3-center'></p>

<script>
var d = new Date();
document.getElementById("demo").innerHTML = d;
</script>

</body>

<!-- Google Maps -->
<div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">Map</span></div>
<div class="w3-section">
<div class="w3-quarter">
	<form method='get' action='/result'>
	<label>Position (es. via Koch, Milano)</label>
	<input class="w3-input" type="text" name="Position" required>
	<a href="{{ url_for('result', result=result)}}">
	<button type="submit" class="w3-button w3-right w3-theme">Go!
	</button>
	</a>
	</form>
</div>
<div id="googleMap" style="width:100%;height:420px;"></div>
<script>
function myMap()
{
  myCenter=new google.maps.LatLng(45.4642700,  9.1895100);
  var mapOptions= {
    center:myCenter,
    zoom:12, scrollwheel: false, draggable: false,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);

  var marker = new google.maps.Marker({
    position: myCenter,
  });
  marker.setMap(map);
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
<!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
-->

{% if controllo %}
<p> PM10's concentration is: {{ prev }} </p>
{% endif %}

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
  <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
    <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>   
    <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
</footer>

<script>
// Script for side navigation
function w3_open() {
    var x = document.getElementById("mySidebar");
    x.style.width = "300px";
    x.style.paddingTop = "10%";
    x.style.display = "block";
}

// Close side navigation
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
<head> 
    <script src="jquery.js"></script> 
    <script> 
    $(function(){
      $("#includedContent").load("mappa.html"); 
    });
    </script> 
  </head> 

  <body> 
     <div id="includedContent"></div>
  </body> 
</html>
