<!DOCTYPE html>
<html class="no-js" lang="it-IT" prefix="og: http://ogp.me/ns#">
<head>
	<title>Capstone</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/css/screen.css')}}">
	<script src="{{ url_for('static',filename='assets/js/alone/jquery-1.10.2.min.js')}}" type="text/javascript"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css" type="text/css" />
	<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
                       {{ script | safe }}
</head>
<body id="myPage" class="">

<!-- Sidebar on click -->
<nav class="w3-sidebar w3-bar-block w3-white w3-card w3-animate-left w3-xxlarge" style="display:none;z-index:2" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-display-topright w3-text" style="font-family:Maiandra Gd, Trebuchet MS, Arial; color:#4caf50">Close
    <i class="fa fa-remove"></i>
  </a>
  <a href="./static/world.png" target="_blank" class="w3-bar-item w3-button">
	<h2 style="font-family:Maiandra Gd, Trebuchet MS, Arial">PM10 worldwide</h2>
	<img <img class="w3-image w3-round-large" src="{{ url_for('static', filename="world.png")}}"> </a>
  <a href="./static/Europe.jpg" target="_blank" class="w3-bar-item w3-button" ><h2 style="font-family:Maiandra Gd, Trebuchet MS, Arial">PM10 in Europe</h2>
  <img <img class="w3-image w3-round-large" src="{{ url_for('static', filename="Europe.jpg")}}" ></a>

</nav>

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-green"><i class="fa fa-home w3-margin-right" style="font-family:Maiandra Gd, Trebuchet MS, Arial"></i>Home</a>
  <a href="#team" class="w3-bar-item w3-button w3-hide-small w3-hover-white" style="font-family:Maiandra Gd, Trebuchet MS, Arial">Author</a>
  <a href="#work" class="w3-bar-item w3-button w3-hide-small w3-hover-white" style="font-family:Maiandra Gd, Trebuchet MS, Arial">Work</a>
  <a href="#map_leaf" class="w3-bar-item w3-button w3-hide-small w3-hover-white" style="font-family:Maiandra Gd, Trebuchet MS, Arial">Map</a>
  <a href="#contact" class="w3-bar-item w3-button w3-hide-small w3-hover-white" style="font-family:Maiandra Gd, Trebuchet MS, Arial">Contact</a>
  </div>
  </div>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search"><i class="fa fa-search"></i></a>
 </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
    <a href="#team" class="w3-bar-item w3-button" style="font-family:Maiandra Gd, Trebuchet MS, Arial">Author</a>
    <a href="#work" class="w3-bar-item w3-button" style="font-family:Maiandra Gd, Trebuchet MS, Arial">Work</a>
    <a href="#map_id" class="w3-bar-item w3-button" style="font-family:Maiandra Gd, Trebuchet MS, Arial">Map</a>
    <a href="#contact" class="w3-bar-item w3-button" style="font-family:Maiandra Gd, Trebuchet MS, Arial">Contact</a>
  </div>
</div>

<!-- Header with full-height image -->
<header class="w3-display-container" id="home">
	 <img <img src="{{ url_for('static', filename="bosco3.jpg")}}" alt="Milan" style="width:100%; opacity:0.8">
  <div class="w3-display-left w3-text-white" style="padding-left:192px; padding-right:145px; padding-top:150px">
    <span class="w3-jumbo w3-hide-small">
	<div align="center">
		 <img src="{{ url_for('static', filename="foglia1.png")}}"alt="Title" style="width:600px" class="align:center">
		<br>
		<span class="w3-jumbo w3-hide-small" style="color:black; font-family:Maiandra Gd, Trebuchet MS, Arial">Prediction of air pollution based on PM10's concentration.</span><br>
		<img src="{{ url_for('static', filename="duomo.png")}}"alt="duomo" style="width:20%" class="align:center">
	</div>
	</span><br>
	<div class="w3-large" style="color:black; font-family:Maiandra Gd, Trebuchet MS, Arial">
    <p><a href="#about" class="w3-button w3-padding-large w3-xlarge w3-display-bottomleft w3-margin-top" style="color:white; padding-left:300px; font-family:Maiandra Gd, Trebuchet MS, Arial; background-color:#4caf50 !important">Learn more and start!</a></p>
	<p><div class="w3-button w3-padding-middle w3-right w3-xlarge w3-display-bottomright w3-margin-top" style="color:white; font-family:Maiandra Gd, Trebuchet MS, Arial; background-color:#4caf50 !important" onclick="document.getElementById('id01').style.display='block'" title="PM10">What is PM10?</a></p>
	</div>
	</div>
 </div> 
</header>

<!-- Modal -->
<div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-top">
    <header class="w3-container w3-display-container"> 
      <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-green w3-green w3-display-topright"><i class="fa fa-remove"></i></span>
      <h4 style="font-family:Maiandra Gd, Trebuchet MS, Arial; color:#16b102"><br>PM10 </h4> 
	  <h5 style="font-family:Maiandra Gd, Trebuchet MS, Arial">stand for particulate matter with a diameter between 2.5 and 10 micrometers (μm).</h5>
      <h5 style="font-family:Maiandra Gd, Trebuchet MS, Arial">Daily average limit: <br> 50 µg/m3 for Europe and 150 µg/m3 for United State. <br> Do you want to know more?</h5>
    </header>
    <div class="w3-container">
      <p></p>
      <h5 style="font-family:Maiandra Gd, Trebuchet MS, Arial">Go to <a class="w3-text-teal" href="https://en.wikipedia.org/wiki/Particulates">explanation.</a></h5>
    </div>
    <footer class="w3-container w3-green bottom">
      <p style="font-family:Maiandra Gd, Trebuchet MS, Arial">Be eco-friendly! Be usefull to yourself.</p>
    </footer>
  </div>
</div>

<!-- Work Row -->
<div class="w3-row-padding w3-padding-64 w3-theme-l1" id="work">

<div class="w3-container" style="padding:128px 16px" id="about">
	<h2 class="w3-center w3-xxlarge" style="font-family:Maiandra Gd, Trebuchet MS, Arial">Prediction of PM10</h2>
	<p class="w3-center w3-xlarge" style="font-family:Maiandra Gd, Trebuchet MS, Arial" >The goal is to inform about air pullotion in a particular day and give some advice to improve our life-style and be eco-friendly. <br>
	PM10's concentration has impacts on climate and precipitations, as consequence they can even affect negatively human health. <br>
	When the particles are inhaled they remain in the respiratory tract depending on their size. <br> 
	The smallest ones are even more damaging to the cardiovascular system and can also cause respiratory diseases. <br>
	So it's important to be-ecofriendly and be informed not only for our health but for our earth's health too. <br>
	Remember that only Milan's municipalities positions are valid.</p>
	<br><br><br>
	
	<div align='center' width='80%'>
	<table width='80%'>
	
	<tr>
	<td width='33%'>
		<div  align='center' style="padding-right: 60px; padding-left: 60px">
			<i class="fa fa-street-view w3-margin-bottom w3-jumbo"></i>
		</div>
		</td>
	<td width='33%'>   
		<div  align='center' style="padding-right: 60px; padding-left: 60px">
			<i class="fa fa-check-square-o w3-margin-bottom w3-jumbo"></i>
		</div>
	</td>
	<td width='33%'>  
		<div  align='center' style="padding-right: 60px; padding-left: 60px">
			<i class="fa fa-tree w3-margin-bottom w3-jumbo"></i>
		</div>
	</td>
	
	</tr>

	<tr>
	<td width='33%' style='vertical-align:top !important'>
		<div align='center' style="padding-right: 60px; padding-left: 60px; font-family:Maiandra Gd, Trebuchet MS, Arial">
		<p class="w3-large"> Location </p>
			<p>Insert your current/future position (max 5 days forward).</p>
		</div>
		</td>
	<td width='33%' style='vertical-align:top !important'>   
		<div  align='center' style="padding-right: 60px; padding-left: 60px; font-family:Maiandra Gd, Trebuchet MS, Arial">
		<p class="w3-large">Prediction</p>
			<p>Wait air quality's prediction.</p>
		</div>
	</td>
	<td width='33%' style='vertical-align:top !important'>  
		<div  align='center' style="padding-right: 60px; padding-left: 60px; font-family:Maiandra Gd, Trebuchet MS, Arial">
			<p class="w3-large">Info</p>
			<p>Learn information on the map below.</p>
		</div>
	</td>
	
	</tr>
	</table>
	</div>
	
</div>
</div>

<!-- Google Maps -->
<div id="map_leaf"></div>
<div class="w3-container w3-padding-64 w3-theme-l5" style="padding-left: 20px; border-color:#4caf50">
<div class="w3-padding-16"><span class="w3-xlarge w3-bottombar border-color:#4caf50" style="font-family:Maiandra Gd, Trebuchet MS, Arial; font-weight:bold; border-color:#4caf50 !important">Map</span></div>
<div class="w3-section">
<div class="w3-quarter w3-large" style='width:300px; font-family:Maiandra Gd, Trebuchet MS, Arial'>
	<form action = "" method="POST">
	<label>Position (es. via Koch, Milano):</label>
		<input class="w3-input" type="text" name="Position" required>
		<table>
		<tr>
		<td>
		  <div class="form-group">
	                   <label for="unique_carrier">Date:</label>
                       <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                        <input type="text" name="date" class="form-control datetimepicker-input" value="{{ dt_string }}" data-target="#datetimepicker1" data-limit="{{ dt_string_limit }}"/>
                        <span class="input-group-addon" data-target="#datetimepicker1" data-toggle="datetimepicker">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                   </div>
		</td>
		<td>
                <div class="form-group color:#16b102" align="bottom">
                    <input type="submit" value="Go!" style="margin-left:12px; margin-top:12px; color:white; vertical-align:top; font-family: Trebuchet MS, Arial; background-color:#4caf50; border-color:#4caf50" class="float-right" />
                </div>
		</td>
		</table>
	</form>
</div>
</div>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
   integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
   crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
   integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
   crossorigin=""></script>
<br />
<center>
<div id="map_id" style="width:95%;height:480px"></div>
<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
</center>
<ul>
	<div style="padding-left:50px">
	<p  style="font-family:Maiandra Gd, Trebuchet MS, Arial"><br>Click the buttons below to switch on/off the icons on the map:</p>
	<table>
		<tr>
		<td>
			<a id="Bike" style="margin-right:10px; vertical-align:top; font-family:Maiandra Gd, Trebuchet MS, Arial" href="#"><img src="{{ url_for('static', filename="bike_share.png")}}"alt="bike" height='70px'>Bike Sharing</a>
		</td>
		<td>
			<a id="Railway_Station" style="margin-right:10px; vertical-align:top; font-family:Maiandra Gd, Trebuchet MS, Arial" href="#"><img src="{{ url_for('static', filename="train.png")}}"alt="train" height='70px'>Railway Station</a>
		</td>
		<td>
			<a id="Pharmacy" style="margin-right:10px; vertical-align:top; font-family:Maiandra Gd, Trebuchet MS, Arial" href="#"><img src="{{ url_for('static', filename="phar.png")}}"alt="phar" height='70px'>Pharmacy</a>
		</td>
		<td>
			<a id="Subway" style="margin-right:10px; vertical-align:top; font-family:Maiandra Gd, Trebuchet MS, Arial" href="#"><img src="{{ url_for('static', filename="metro.png")}}"alt="subway" height='70px'>Subway</a>
		</td>
		</tr>
	</table>
	</div>
</ul>

<script>
//var map_var =L.map('map_id').setView([45.4642700,  9.1895100], 16);

var coordinate = {{ cord }} 
console.log(coordinate);

if (coordinate == [45.4642700,  9.1895100]) {
	console.log('milano');
	var map_var =L.map('map_id').setView([45.4642700,  9.1895100], 16);
	L.marker(coordinate).addTo(map_var).bindPopup('Milan').openPopup()
	
} else {
	console.log(coordinate);
	console.log('coordinate');
	var map_var =L.map('map_id').setView(coordinate, 16);
	L.marker(coordinate).addTo(map_var).bindPopup('Your location').openPopup()
	console.log('position');
};

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map_var);

var group1 = L.featureGroup();
var group2 = L.featureGroup();
var group3 = L.featureGroup();
var group4 = L.featureGroup();

var bike = $.getJSON( "./static/bike_coordinate.json", function(json1) {
           for (var i = 0; i < json1.length; i++) {
            var place = json1[i];
            console.log( place );
               // Creating a marker and putting it on the map
            var customIcon = L.icon({
            iconUrl: './static/bike_share.png',
            iconSize:     [38, 40], // size of the icon
            iconAnchor:   [10, 40], // point of the icon which will correspond to marker's location
            popupAnchor:  [5, -40] // point from which the popup should open relative to the iconAnchor
            }); 
            var marker_bike = L.marker(place.coordinate, {icon: customIcon});
            if (marker_bike != null){
                //marker_array.push(marker_bike);
                marker_bike.addTo(group1).bindPopup(place.Indirizzo);
                } else{$('#bike').text = "Error"}
            }

    });
	
var ferrovia = $.getJSON( "./static/train.json", function(json2) {
           for (var i = 0; i < json2.length; i++) {
            var place = json2[i];
            console.log( place );
               // Creating a marker and putting it on the map
            var customIcon = L.icon({
            iconUrl: './static/train.png',
            iconSize:     [38, 40], // size of the icon
            iconAnchor:   [10, 40], // point of the icon which will correspond to marker's location
            popupAnchor:  [5, -40] // point from which the popup should open relative to the iconAnchor
            }); 
            var marker_train = L.marker(place.coordinate, {icon: customIcon});
            if (marker_train != null){
                //marker_array.push(marker_train);
                marker_train.addTo(group2).bindPopup(place.Indirizzo);
                }
            else{$('#ferrovia').text = "Error"}
            }

    });
	
var farmacie = $.getJSON( "./static/farmacie.json", function(json3) {
	   for (var i = 0; i < json3.length; i++) {
		var place = json3[i];
		console.log( place );
		   // Creating a marker and putting it on the map
		var customIcon = L.icon({
		iconUrl: './static/phar.png',
		iconSize:     [35, 37], // size of the icon
		iconAnchor:   [10, 40], // point of the icon which will correspond to marker's location
		popupAnchor:  [5, -40] // point from which the popup should open relative to the iconAnchor
		}); 
		var marker_pha = L.marker(place.coordinate, {icon: customIcon});
		if (marker_pha != null){
			//marker_array.push(marker_pha);
			marker_pha.addTo(group3).bindPopup('FARMACIA '+place.Indirizzo);
			}
		else{$('#farmacie').text = "Error"}
		}
	 
});

var m2 = $.getJSON( "./static/m2.json", function(json5) {
	   for (var i = 0; i < json5.length; i++) {
		var place = json5[i];
		console.log( place );
		   // Creating a marker and putting it on the map
		var customIcon = L.icon({
		iconUrl: './static/m2.png',
		iconSize:     [45, 35], // size of the icon
		iconAnchor:   [10, 40], // point of the icon which will correspond to marker's location
		popupAnchor:  [5, -40] // point from which the popup should open relative to the iconAnchor
		}); 
		var marker_sub = L.marker(place.coordinate, {icon: customIcon});
		if (marker_sub != null){
			marker_sub.addTo(group4).bindPopup(place.Indirizzo);
			}
		else{$('#m2').text = "Error"}
		}
	 
});
var m1 = $.getJSON( "./static/metro1.json", function(json4) {
	   for (var i = 0; i < json4.length; i++) {
		var place = json4[i];
		console.log( place );
		   // Creating a marker and putting it on the map
		var customIcon = L.icon({
		iconUrl: './static/m1.png',
		iconSize:     [45, 35], // size of the icon
		iconAnchor:   [10, 40], // point of the icon which will correspond to marker's location
		popupAnchor:  [5, -40] // point from which the popup should open relative to the iconAnchor
		}); 
		var marker_sub = L.marker(place.coordinate, {icon: customIcon});
		if (marker_sub != null){
			marker_sub.addTo(group4).bindPopup(place.Indirizzo);
			}
		else{$('#me1').text = "Error"}
		}
	 
});
var m3 = $.getJSON( "./static/m3.json", function(json6) {
	   for (var i = 0; i < json6.length; i++) {
		var place = json6[i];
		console.log( place );
		   // Creating a marker and putting it on the map
		var customIcon = L.icon({
		iconUrl: './static/m3.png',
		iconSize:     [45, 35], // size of the icon
		iconAnchor:   [10, 40], // point of the icon which will correspond to marker's location
		popupAnchor:  [5, -40] // point from which the popup should open relative to the iconAnchor
		}); 
		var marker_sub = L.marker(place.coordinate, {icon: customIcon});
		if (marker_sub != null){
			marker_sub.addTo(group4).bindPopup(place.Indirizzo);
			}
		else{$('#m3').text = "Error"}
		}
	 
});
var m5 = $.getJSON( "./static/m5.json", function(json7) {
	   for (var i = 0; i < json7.length; i++) {
		var place = json7[i];
		console.log( place );
		   // Creating a marker and putting it on the map
		var customIcon = L.icon({
		iconUrl: './static/m5.png',
		iconSize:     [45, 35], // size of the icon
		iconAnchor:   [10, 40], // point of the icon which will correspond to marker's location
		popupAnchor:  [5, -40] // point from which the popup should open relative to the iconAnchor
		}); 
		var marker_sub = L.marker(place.coordinate, {icon: customIcon});
		if (marker_sub != null){
			marker_sub.addTo(group4).bindPopup(place.Indirizzo);
			}
		else{$('#m5').text = "Error"}
		}
	 
});

map_var.addLayer(group1);
map_var.addLayer(group2);
map_var.addLayer(group3);
map_var.addLayer(group4);

$("#Bike").click(function(event) {
    event.preventDefault();
    if(map_var.hasLayer(group1)) {
		$(this).removeClass('selected');
        map_var.removeLayer(group1);
    } else {
		map_var.addLayer(group1);                 
        $(this).addClass('selected');
   }
});

$("#Railway_Station").click(function(event) {
    event.preventDefault();
    if(map_var.hasLayer(group2)) {
		$(this).removeClass('selected');
        map_var.removeLayer(group2);
    } else {
		map_var.addLayer(group2);                 
        $(this).addClass('selected');
   }
});

$("#Pharmacy").click(function(event) {
    event.preventDefault();
    if(map_var.hasLayer(group3)) {
		$(this).removeClass('selected');
        map_var.removeLayer(group3);
    } else {
		map_var.addLayer(group3);                 
        $(this).addClass('selected');
   }
});

$("#Subway").click(function(event) {
    event.preventDefault();
    if(map_var.hasLayer(group4)) {
		$(this).removeClass('selected');
        map_var.removeLayer(group4);
    } else {
		map_var.addLayer(group4);                 
        $(this).addClass('selected');
   }
});

</script>
</div>

{% if show_prev %}
<div class="w3-row-padding w3-padding-64 w3-theme-l1" id='prev'>
<script>
	document.location.hash = '#' + '{{ show_prev }}';
</script>
<div style="position:up:100px;z-index:1; background-color:#4caf50 !important" class="w3-tooltip w3-right">
		<a class="w3-button w3-theme" style="background-color:#4caf50 !important" href="#map_leaf"><span class="w3-middle" style="background-color:#4caf50 !important"><p class="w3-middle" style="nearest; font-family:Maiandra Gd, Trebuchet MS, Arial; background-color:#4caf50">Go to the map</p>   
		<i class="fa fa-chevron-circle-up"></i></span></a>
    </div>
<div class="w3-container" style="padding:128px 16px; font-family:Maiandra Gd, Trebuchet MS, Arial">
	<h2 class='w3-center w3-xxlarge' style="font-family:Maiandra Gd, Trebuchet MS, Arial">Air Pollution:</h2>
	<div class="w3-center">
		<p class="w3-xlarge"><br>The concentration of PM10 in your location is {{ prevision }} µg/m3. <br><br> Don't forget that the European daily limit is 50 µg/m3. </p>
		<br>
	</div>
	<center>
	<table>
		<tr>
		<td colspan="2">
			<div align="center">	
				<div class=page>
				   {{ div | safe }}
				</div>
			</div>
		</td>
		</tr>
		<tr>
		<td class="w3-large" style="vertical-align:top; font-family:Maiandra Gd, Trebuchet MS, Arial; float:left !important">
			<p> Low </p>
		</td>
		<td class="w3-large" style="vertical-align:top; font-family:Maiandra Gd, Trebuchet MS, Arial; float:right !important">
			<p> High </p>
		</td>
	</table>
	</center>
</div>
</div>
{% endif %}

<!-- Author and Model -->
<div class="w3-container w3-padding-64 w3-center" id="team">
<div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar" style="font-family:Maiandra Gd, Trebuchet MS, Arial; font-weight:bold; border-color:#4caf50 !important">Author & Model</span></div>
<div class="row">
  <div style='float: left; width: 50%'>
	<a href="./static/comuni milano.jpg" target="_blank">
	<img src="{{ url_for('static', filename="comuni milano.jpg")}}"alt="Provincia di Milano" style="width:45%" class="w3-circle w3-hover-opacity"> 
	</a>
	<h2 style="font-family:Maiandra Gd, Trebuchet MS, Arial">Provincia di Milano</h2>
	 <h5 class="w3-xlarge" style="font-family:Maiandra Gd, Trebuchet MS, Arial">Area of study.</h5>
  </div>
  <div style='float: right; width: 50%'>
    <a href="./static/milcentro.jpg" target="_blank">
	  <img src="{{ url_for('static', filename="milcentro.jpg")}}"alt="Milano" style="width:35%" class="w3-circle w3-hover-opacity">
	  </a>
	  <h2 style="font-family:Maiandra Gd, Trebuchet MS, Arial">Milano</h2>
	  <h5 class="w3-xlarge" style="font-family:Maiandra Gd, Trebuchet MS, Arial">Area of study.</h5>
  </div>
</div>
<br>
<br>
<br>
<br>
	<div class="w3-xlarge" style='float: left; width: 50%'>
	  <img src="{{ url_for('static', filename="zoom.jpg")}}"alt="Author" style="width:150px" class="w3-circle"><br><br>
	  
	  <h4 class="w3-xlarge" style="font-family:Maiandra Gd, Trebuchet MS, Arial">Alice Giampino</h4>
	  <h6 class="w3-xlarge" style="font-family:Maiandra Gd, Trebuchet MS, Arial">Statitician & Data Scientist</h6> 
	</div>
	<div class="w3-large" style='float: right; width: 50%; padding-left: 50px; padding-right: 50px'>
	<h4 style="font-family:Maiandra Gd, Trebuchet MS, Arial"><br>Model: </h4>

		<p class="w3-xlarge" style="font-family:Maiandra Gd, Trebuchet MS, Arial"><br>The model is based on PM10's measurements on the area of study that took 3 years (25 May 2015 - 25 May 2018),
		associated with weather temperature, humidity and wind speed of the same period. Additional information about 
		population's density of Milan's municipalities, air pollution detection sensors, weekday, month and season have been added 
		to the model. Also the previous two days of weather temperature are added (if available).
		<br>
		The prediction is done in real time!
		</p>
	</div>
</div>
<!-- Container -->
<div class="w3-container" style="position:relative">
  <a onclick="w3_open()" class="w3-button w3-xlarge w3-circle"
  style="position:absolute;top:-28px;right:24px; color:white; background-color:#4caf50 !important">+</a>
</div>

<!-- Contact Container -->
<div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
    <div class="w3-col m5 w3-center" style='margin: auto; float: none'>
    <div class="w3-padding-16 w3-center"><span class="w3-xlarge w3-border-teal w3-bottombar" style="font-family:Maiandra Gd, Trebuchet MS, Arial; font-weight:bold; border-color:#4caf50 !important">Contact</span></div>
      <p class="w3-xlarge" style="font-family:Maiandra Gd, Trebuchet MS, Arial">For more information send me an email or text me.</p>
	  <p class="w3-xlarge"><i class="fa fa-map-marker w3-xlarge" style="color:#4caf50 !important"></i> Milan, IT</p>
      <p class="w3-xlarge" ><i class="fa fa-phone w3-xlarge" style="color:#4caf50 !important"></i>  +348 3381682</p>
      <p class="w3-xlarge" ><i class="fa fa-envelope-o w3-xlarge" style="color:#4caf50 !important"></i>  giampinoalice@gmail.com</p>
    </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
  <div style="position:bottom:100px;z-index:1;" class="w3-tooltip w3-right">
    <span class="w3-text w3-padding w3-hide-small" style="background-color:#4caf50 !important" >Go To Top</span>   
    <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
</footer>

<script>
// Script for side navigation
function w3_open() {
    var x = document.getElementById("mySidebar");
    x.style.width = "300px";
    x.style.paddingTop = "10%";
    x.style.display = "block";
}

// Close side navigation
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

	<!-- body js -->
<script src="{{ url_for('static',filename='assets/js/plugins.min1.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='assets/js/main.min1.js')}}" type="text/javascript"></script>

</body>

</html>
